replicaCount: 1

image:
  repository: louislam/uptime-kuma
  tag: "1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: true
  host: uptime.51.210.89.84.nip.io

persistence:
  enabled: true
  size: 2Gi
  storageClass: ""

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
