replicaCount: 1

image:
  repository: louislam/uptime-kuma
  tag: "1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: false
  host: uptime.51.255.12.10.nip.io

persistence:
  enabled: true
  size: 2Gi
  storageClass: ""

keda:
  enabled: true
  desiredReplicas: "1"
  timezone: "Europe/Madrid"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
