# Copia este archivo a terraform.tfvars y rellena los valores

service_name            = "7661ad09e6144c26bb271f3945d00680"
region                  = "GRA11"
cluster_name            = "k3s-prod"
master_count            = 1
worker_count            = 2
flavor_master           = "b2-7"
flavor_worker           = "b2-7"
ssh_public_key          = "ssh-rsa AAAA... tu-clave-publica"
image_name              = "Ubuntu 22.04"
