replicaCount: 1

image:
  repository: ghcr.io/jreb-123/event-logger
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  host: events.51.210.89.84.nip.io

nats:
  url: nats://nats.nats.svc.cluster.local:4222

resources:
  requests:
    cpu: 25m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
